<button class="slds-button slds-button_icon slds-input__icon slds-input__icon--right" title="Select a date">
    <svg class="slds-button__icon" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
    </svg>
    <span class="slds-assistive-text">Select a date</span>
</button>